<div class="menu-trigger">
  <i class="fa fa-bars"></i>
</div>

<ul class="menu-list">
  <li><%=link_to "Home", "/" %></li>
  <li><%=link_to "About", "#about" %></li>
  <li><%=link_to "Venues", "#venues" %></li>
  <li><%=link_to "Call for Speakers", "/speakers" %></li>
  <li><%=link_to "Sponsor Information", "/sponsors" %></li>
</ul>
