---
title: Hackathon Competition
layout: internal
---
<div class="wrapper">
  <div class="leftcolumn">
<!--
  <h1>
    Hack Now!
  </h1>

  <h2>
    The Hackathon is now open.
  </h2>

  <h3>
    You may begin hacking.
  </h3>

  <hr>

  <h4>
    Open Data Sources:
  </h4>
  <br>

  <ul>
    <li><a href="https://data.greensboro-nc.gov" target="_blank">City of Greensboro Open Data Portal</a> - The City of Greensboro's open data portal</li>
    <br>
    <li><a href="http://gis.co.guilford.nc.us/datadownload/DataDownload.aspx" target="_blank">Guilford County Open Data</a> - Guilford County GIS data Download</li>
    <br>
    <li><a href="https://brigades.opendatanetwork.com/brigade?brigade=Code%20for%20North%20Carolina" target="_blank">Code for NC open data portal</a> - A community owned open data portal serving NC Brigades</li>
    <br>
    <li><a href="http://www.cgia.state.nc.us/dataresources.aspx" target="_blank">NC One map</a> - North Carolina geospatial data resources</li>
    <br>
    <li><a href="https://www.data.gov" target="_blank">Data.gov</a> - Home of the U.S. Government’s open data</li>
    <br>
    <li><a href="http://gis.co.guilford.nc.us/datadownload/DataDownload.aspx" target="_blank">Guilford County Open Data</a> - Guilford County GIS data Download</li>
    <br>
    <li><a href="https://uscensusbureau.github.io/citysdk/" target="_blank">CitySDK</a> - US Census data API</li>
    <br>
    <li><a href="https://sunlightlabs.github.io/openstates-api/index.html" target="_blank">Open States</a> - API for accessing state legislative information</li>
  </ul>

  </br>

  <hr>

  </br> -->

  <h1>
    Team up. Hack. Win!
  </h1>
  <h2>
  <table>
  <tr>
    <td>First Place:</td>
    <td>$1,000</td>
  </tr>
  <tr>
    <td>Second Place:</td>
    <td>$500</td>
  </tr>
  <tr>
    <td>Third Place:</td>
    <td>$250</td>
  </tr>
</table>
</h2>
  <!-- <h2>
    First Place: $1,000
    <br>
    Second Place: $500
    <br>
    Third Place: $250
  </h2> -->
  <h3>
    Want to participate in the hackathon competition?
  </h3>

  </br>

  <h4>
    Code for Greensboro Fall Hackathon 2015 Rules:
  </h4>
  <hr>

  <h4>
    Teams:
  </h4>
  <p>
    Form a team of 2 to 5 hackers. You may only join one team. If you would like to participate but do not have a team, reach out to <a href="mailto:jason@codeforgreensboro.org?Subject=Civicon%202015%20Hackathon%20Teams">Jason Marshall</a> at Code for Greensboro and we will do our best to connect you with others interested in forming a team.
  </p>
  <h4>
    Coding, Design, etc:
  </h4>
  <p>
    Your team may begin hacking at 8pm Friday, November 6th at the conclusion of the kick-off event at HQ Greensboro. To ensure all teams start on a level playing ground, no code may be written before this time. All code, design, art, and other work must be created during the hackathon. The only exception to this is material that is freely available to the public. Examples of this include public domain images, creative commons music, open source libraries, etc. Brainstorming and discussing ideas with your team are allowed and encouraged before the event so you can dive right into coding when the event begins.
  </p>
  <h4>
    APIs, Services, Open Source:
  </h4>
  <p>
    You are encouraged to use 3rd party services, APIs, open source projects, libraries, and frameworks. We are working with limited time here, and there’s no reason to recreate the wheel.

    Data utilized in your application should be from freely available open datasets. Judges will give special consideration to applications that utilize local datasets unveiled at the conclusion of the Friday night social event and posted here at 8:00pm Friday, November 6th.

    Your application must be open source. We want to work with you and others after the hackathon ends to provide your great ideas to the community. To assist us with this, code must be made available on a public Github repository and a link submitted to the CIVICON15 Github page by 1:00pm on Sunday, November 8th in preparation for judging. Any commits added to your project’s codebase after the deadline will not be considered during final judging.
  <p>
  <h4>
    Team Judging:
  </h4>
  <p>
    Judging will begin at 2:00pm on Sunday, November 8th. You will have 5 minutes to do a live demo and present your application to the judges. At the end of your time the judges will have the opportunity to ask your team questions. Presentations should cover your application’s purpose, benefit and impact to our community, current functionality, and potential future improvements.
  </p>
  <hr>

  <p>
    <strong>Judges will be looking for teams to demonstrate the following three criteria:</strong>
    <br>
    <br>
    <strong>Build Something</strong> - It’s a hackathon after all! Have a working demo running to present to the judges at the end of the competition. It doesn’t need to be finely tuned and polished with all your intended features to remain in the running.
    <br>
    <br>
    <strong>Impact Our Community</strong> - Your application idea must have a civic focus. Special consideration will be given to applicationss focused on our Greensboro community, we are here to improve our community through technology after all. Demonstrate how your application solves a problem, or helps the community in some way. Applications should fall into at least one of the Code for America focus areas listed here: Health and Human Services, Economic Development, Safety and Justice, Communication and Engagement.
    <br>
    <br>
    <strong>Innovate</strong> - How creative is your approach to the problem you are trying to solve? Is your solution to the problem original or novel?
  </p>

  <hr>

  <p>
    <a href="http://codeforgreensboro.org">Code for Greensboro</a> wants everyone to have a good time. Be excellent to each other, and hack on! Here is our official <a href="/conduct">Code of Conduct</a>. Please review it and contact us with any questions or concerns.
  </p>

  <!-- <ul>
    <li>In the spirit of collaboration, form a team of at least two hackers. You may begin hacking at the conclusion of the Friday night social, November 6th at 8:00pm, and continue until we call time on Sunday, November 8th. App presentations for the competition will take place Sunday, November 8th. At least one team member must be present on Sunday to present your app in order to be considered.</li>
    </br>
    <li>App idea must have a civic focus. Special consideration will be given to apps focused on our Greensboro community. Suggested themes: health, resources, safety and justice, transportation, education, mapping, housing, and food/nutrition.</li>
    </br>
    <li>App must be open sourced, and utilize open data. We will unveil a set of civic open datasets at the Friday night social on November 6th. You may use any open data in your app, although special consideration will be given to teams that utilize one or more of the datasets unveiled at the social. A link to the datasets will be posted here at 8:00pm on November 6th.</li>
    </br>
    <li>It is not necessary to have a fully working and polished application at the end of the hackathon to be considered for the competition. Judges will be considering the spirit of your team's application and potential benifit to the community when selecting winning teams.</li>
    </br>
    <li>App idea must keep in line with the <a href="https://www.codeforamerica.org/governments/principles/">Code for America Principles for 21st Century Government.</a></li>
    </br>
    <li><a href="http://codeforgreensboro.org">Code for Greensboro</a> wants everyone to have a good time. Be excellent to each other, and hack on! Here is our official <a href="/conduct">Code of Conduct</a>. Please review it and contact us with any questions or concerns.</li>
  </ul> -->

</div>

  <aside class="sidebar">
    <h5>Join Us</h5>
    <p>Tickets are still available for Civicon 15, and we really want to see you there. In addition to these workshops and speakers, we'll have food, schwag, caffeine, and—of course—civic hacking.</p>
    <%=link_to "Buy Tickets", "http://www.eventbrite.com/e/code-for-greensboro-fall-hackathon-2015-tickets-18078770088" %>
  </aside>

</div>



  <section class="speakers">
    <h3 class="is-centered">Hackathon Judge Panel</h3>

    <div class="wrapper">

      <div class="avatar">
        <%=image_tag "images/Jane.png", :class => "round" %>
        <h4>Jane Nickles</h4>
        <h5>CIO, City of Greensboro</h5>
      </div>

      <div class="avatar">
        <%=image_tag "/images/Chris.jpg", :class => "round"%>
        <h4>Chris Mathews</h4>
        <h5>DBA &amp; Open Data Engineer,</br> Wake County</h5>
      </div>

      <div class="avatar">
        <%=image_tag "/images/Michelle.jpg", :class => "round"%>
        <h4>Michelle Kennedy</h4>
        <h5>Executive Director, </br>Interactive Resource Center</h5>
      </div>

      <div class="avatar">
        <%=image_tag "/images/Justin.jpg", :class => "round"%>
        <h4>Justin Streuli</h4>
        <h5>Director, North Carolina </br>Entrepreneurship Center</h5>
      </div>

      <div class="avatar">
        <%=image_tag "/images/Ashley.jpg", :class => "round"%>
        <h4>Ashley Moretz</h4>
        <h5>Product + Customer </br>Development, Waffle.io</h5>
      </div>

      <div class="avatar">
        <%=image_tag "/images/Shawn.jpg", :class => "round"%>
        <h4>Shawn Gagné</h4>
        <h5>Founder &amp; CEO, </br>Urban Offsets</h5>
      </div>

      <div class="avatar">
        <%=image_tag "/images/Joel.jpg", :class => "round"%>
        <h4>Joel Leonard</h4>
        <h5>Community Developer</h5>
        <h5></h5>
      </div>

    </div>

    <!--
    <div class="button red spaced">Register Now</div>
    -->

  </section>
