---
title: Code For Greensboro Fall Hackathon | November 6-8, 2015
---

<section class="hero">
  <div class="wrapper">
    <h5 class="is-centered">Code for Greensboro Fall 2015 Hackathon</h5>
    <h1 class="is-centered">Explore. Build. Improve.</h1>
    <h5 class="is-centered">November 6-8, 2015 &bullet; Joint School of Nanoscience and Nanoengineering &bullet; Greensboro, NC</h5>

    <div class="button sand">
      <%=link_to "Get Your Ticket", "#get_notified" %>
    </div>

  </div>
</section>

<section class="about" id="about">
  <div class="wrapper">
    <h3 class="is-centered is-intro">Work with Greensboro's open data, meet awesome people, and make a difference in your community.</h3>

    <hr>

    <div class="third">
      <aside class="feature">
        <%=image_tag ("/images/blueprint.png") %>
      </aside>
      <h4>Join &amp; Plan</h4>
      <p>Forge partnerships with members and residents from tons of different skillsets, and set about making something new and amazing.
    </p>
  </div>

    <div class="third">
      <aside class="feature">
        <%=image_tag ("/images/working.png") %>
      </aside>
      <h4>Build &amp; Solve</h4>
      <p>Work on projects, enjoy the company of other technologists, and get a chance to hear about open and civic technology.
      </p>
    </div>

    <div class="third">
      <aside class="feature">
        <%=image_tag ("/images/bot.png") %>
      </aside>
      <h4>Help &amp; Create</h4>
      <p>Build something that can help your community using technology. And who knows? Maybe you'll win prizes.
      </p>
    </div>
  </div>
</section>

<section class="speakers">
  <h3 class="is-centered">Speakers &amp; Workshops</h3>

  <div class="wrapper">

    <div class="avatar">
      <%=image_tag "images/Jane.png", :class => "round" %>
      <h4>Jane Nickles</h4>
      <h5>CIO, City of Greensboro</h5>
    </div>

    <div class="avatar">
      <%=image_tag "/images/Jason.jpg", :class => "round" %>
      <h4>Jason Hibbets</h4>
      <h5>Community Manager, Red Hat</h5>
    </div>

    <div class="avatar">
      <%=image_tag "/images/Julia.jpg", :class => "round" %>
      <h4>Julia Elman</h4>
      <h5>Front End Designer, 18f</h5>
    </div>

  </div>

  <!--
  <div class="button red spaced">Register Now</div>
  -->

</section>

<section class="venue" id="venues">
  <div class="wrapper">
    <div class="half">
      <%=image_tag ('/images/hq.jpg') %>
      <div class="caption">
        <h3 class="is-centered">HQ Greensboro</h3>
        <h4 class="is-centered">Kickoff Night - Nov. 6 @ 5:00 PM</h4>
        <p>HQ Greensboro is the premiere co-working space in Greensboro, boasting private and semi-private office and co-working space in a modern setting. HQ Greensboro is also a hub for entrepreneurs, featuring programming for startup businesses and the business community at large.</p>
        <p>Our opening happy hour will make use of HQ Greensboro's beautiful first floor classroom and bar space. While in attendance, we encourage you to explor and learn more about this exciting space.</p>
      </div>
    </div>

    <div class="half">
      <%=image_tag ('/images/jsnn.jpg') %>
      <div class="caption">
        <h3 class="is-centered">JSNN Campus</h3>
        <h4 class="is-centered">Hackathon Weekend - Nov. 7-8</h4>
        <p>The Joint School of Nanoscience and Nanoengineering is a unique partnership between A&amp;T State University and The University of North Carolina at Greensboro. It features over 100,000 square feet of academic and industrial research and learning space, featuring scientific equipment paralleled by only a handful of facilities in the world.</p>
        <p>The Joint School is a testament to how science, engineering and technology have always been cornerstones of the Triad—and how Code for Greensboro, its members, and Greensboro's residents are working hard to keep it that way.</p>
      </div>
    </div>
  </div>

</section>

<!--

<section class="schedule">
  <h3 class="is-centered">Schedule of Events</h3>

  <div class="wrapper">
    <ul class="changer">
      <li href="#friday" class="selected">Friday</li>
      <li href="#saturday">Saturday</li>
      <li href="#sunday">Sunday</li>
    </ul>
  </div>

  <div class="has-list" id="friday">
    <ul>
      <li>Kickoff Happy Hour - HQ Greensboro <span class="time">5:00 - 8:00 PM</span></li>
      <li>Open House - The Forge <span class="time">5:00 - 8:00 PM</span></li>
      <li>Wooden Nickel Beers - Gibbs Hundred <span class="time">5:00 - 8:00 PM</span></li>
    </ul>
  </div>

  <div class="has-list" id="saturday" style="display: none;">
    <ul>
      <li>Kickoff Happy Hour - HQ Greensboro <span class="time">5:00 - 8:00 PM</span></li>
      <li>Open House - The Forge <span class="time">5:00 - 8:00 PM</span></li>
      <li>Wooden Nickel Beers - Gibbs Hundred <span class="time">5:00 - 8:00 PM</span></li>
    </ul>
  </div>

  <div class="has-list" id="sunday" style="display: none;">
    <ul>
      <li>Kickoff Happy Hour - HQ Greensboro <span class="time">5:00 - 8:00 PM</span></li>
      <li>Open House - The Forge <span class="time">5:00 - 8:00 PM</span></li>
      <li>Wooden Nickel Beers - Gibbs Hundred <span class="time">5:00 - 8:00 PM</span></li>
    </ul>
  </div>

</section>

-->

<section class="generic" id="get_notified">
  <div class="has-border">
    <h4>Registration Opens Soon</h4>
  </div>
  <h3 class="is-centered">Get Registration Reminders &amp; More</h3>
  <p class="narrow">
    Join our Fall 2015 Hackathon Mailing List to stay in the loop as we add speakers, workshops and other fun stuff. Only timely info sent infrequently. You'll be glad you did it!
  </p>
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
      <form action="//tinygoatstudio.us5.list-manage.com/subscribe/post?u=631459a8891676ebf42358e9b&amp;id=58f82f888f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
	          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_631459a8891676ebf42358e9b_58f82f888f" tabindex="-1" value="">
      </div>
      <input type="submit" value="Get Notified" name="subscribe" id="mc-embedded-subscribe" class="button red spaced">
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</section>


<!--
<section class="sponsors">
  <h3 class="is-centered">Sponsored &amp; supported by</h3>

  <div class="wrapper">

    <%=image_tag ('/images/sponsors.png') %>

  </div>

  <div class="button red spaced">Don't Miss Out</div>

</section>
-->
