---
title: Home
---

<section class="hero">
  <div class="wrapper">
    <h5 class="is-centered">Code for Greensboro Fall 2015 Hackathon</h5>
    <h1 class="is-centered">Explore. Build. Improve.</h1>
    <h5 class="is-centered">November 6-8, 2015 &bullet; Joint School of Nanoscience and Nanoengineering &bullet; Greensboro, NC</h5>

    <div class="button sand">Get Your Ticket</div>

  </div>
</section>

<section class="about">
  <div class="wrapper">
    <h3 class="is-centered is-intro">Work with Greensboro's open data, meet awesome people, and make a difference in your community.</h3>

    <hr>

    <div class="third">
      <aside class="feature">
        <%=image_tag ("/images/blueprint.png") %>
      </aside>
      <h4>Join &amp; Plan</h4>
      <p>Forge partnerships with members and residents from tons of different skillsets, and set about making something new and amazing.
    </p>
  </div>

    <div class="third">
      <aside class="feature">
        <%=image_tag ("/images/working.png") %>
      </aside>
      <h4>Build &amp; Solve</h4>
      <p>Work on projects, enjoy the company of other technologists, and get a chance to hear about open and civic technology.
      </p>
    </div>

    <div class="third">
      <aside class="feature">
        <%=image_tag ("/images/bot.png") %>
      </aside>
      <h4>Help &amp; Create</h4>
      <p>Build something that can help your community using technology. And who knows? Maybe you'll win prizes.
      </p>
    </div>
  </div>
</section>

<section class="speakers">
  <h3 class="is-centered">Speakers</h3>

  <div class="wrapper">

    <div class="avatar">
      <%=image_tag "images/Jane.png", :class => "round" %>
      <h4>Jane Nickles</h4>
      <h5>CIO, City of Greensboro</h5>
    </div>

    <div class="avatar">
      <%=image_tag "http://api.randomuser.me/portraits/med/men/39.jpg", :class => "round" %>
      <h4>Jason Hibbets</h4>
      <h5>Community Director, Red Hat</h5>
    </div>

    <div class="avatar">
      <%=image_tag "http://api.randomuser.me/portraits/med/women/23.jpg", :class => "round" %>
      <h4>Julia Elman</h4>
      <h5>Front End Designer, 18f</h5>
    </div>

    <div class="avatar">
      <%=image_tag "http://api.randomuser.me/portraits/med/men/16.jpg", :class => "round" %>
      <h4>Jony Ive</h4>
      <h5>VP of Design, Apple</h5>
    </div>

  </div>

  <div class="button red spaced">Register Now</div>

</section>

<section class="venue">
  <div class="wrapper">
    <div class="half">
      <%=image_tag ('/images/hq.jpg') %>
      <div class="caption">
        <h3 class="is-centered">HQ Greensboro</h3>
        <h4 class="is-centered">Kickoff Night - Nov. 6 @ 5:00 PM</h4>
        <p>The JSNN is a unique partnership between A&amp;T State University and The University of North Carolina at Greensboro. It features over 100,000 square feet of academic and industrial research and learning space, featuring scientific equipment paralleled by only a handful of facilities in the world.</p>
        <p>The Joint School is a testament to how science, engineering and technology have always been cornerstones of the Triad—and how Code for Greensboro, its members, and Greensboro's residents are working hard to keep it that way.</p>
      </div>
    </div>

    <div class="half">
      <%=image_tag ('/images/jsnn.jpg') %>
      <div class="caption">
        <h3 class="is-centered">JSNN Campus</h3>
        <h4 class="is-centered">Hackathon Weekend - Nov. 7-8</h4>
        <p>The Joint School of Nanoscience and Nanoengineering is a unique partnership between A&amp;T State University and The University of North Carolina at Greensboro. It features over 100,000 square feet of academic and industrial research and learning space, featuring scientific equipment paralleled by only a handful of facilities in the world.</p>
        <p>The Joint School is a testament to how science, engineering and technology have always been cornerstones of the Triad—and how Code for Greensboro, its members, and Greensboro's residents are working hard to keep it that way.</p>
      </div>
    </div>
  </div>

</section>

<section class="schedule">
  <h3 class="is-centered">Schedule of Events</h3>

  <div class="wrapper">
    <ul class="changer">
      <li href="#friday" class="selected">Friday</li>
      <li href="#saturday">Saturday</li>
      <li href="#sunday">Sunday</li>
    </ul>
  </div>

  <div class="has-list" id="friday">
    <ul>
      <li>Kickoff Happy Hour - HQ Greensboro <span class="time">5:00 - 8:00 PM</span></li>
      <li>Open House - The Forge <span class="time">5:00 - 8:00 PM</span></li>
      <li>Wooden Nickel Beers - Gibbs Hundred <span class="time">5:00 - 8:00 PM</span></li>
    </ul>
  </div>

  <div class="has-list" id="saturday" style="display: none;">
    <ul>
      <li>Kickoff Happy Hour - HQ Greensboro <span class="time">5:00 - 8:00 PM</span></li>
      <li>Open House - The Forge <span class="time">5:00 - 8:00 PM</span></li>
      <li>Wooden Nickel Beers - Gibbs Hundred <span class="time">5:00 - 8:00 PM</span></li>
    </ul>
  </div>

  <div class="has-list" id="sunday" style="display: none;">
    <ul>
      <li>Kickoff Happy Hour - HQ Greensboro <span class="time">5:00 - 8:00 PM</span></li>
      <li>Open House - The Forge <span class="time">5:00 - 8:00 PM</span></li>
      <li>Wooden Nickel Beers - Gibbs Hundred <span class="time">5:00 - 8:00 PM</span></li>
    </ul>
  </div>

</section>

<section class="sponsors">
  <h3 class="is-centered">Sponsored by</h3>

  <div class="wrapper">

    <%=image_tag ('/images/sponsors.png') %>

  </div>

  <div class="button red spaced">Don't Miss Out</div>

</section>

<section class="map">
</section>
