---
title: Code For Greensboro Fall Hackathon | November 6-8, 2015
layout: internal
---

<section class="hero">
  <div class="wrapper">
    <h5 class="is-centered">Code for Greensboro &bullet; Civicon 2015</h5>
    <h1 class="is-centered">Congratulations winners!</h1>
    <h5 class="is-centered">November 6-8, 2015 &bullet; Joint School of Nanoscience and Nanoengineering &bullet; Greensboro, NC</h5>
  </div>
</section>

<section class="about" id="about">
  <div class="wrapper">
    <div class="team-card">
      <div class="score">
        1st
      </div>
      <dl>
        <dt>Flying Turtles</dt>
        <dd>LOE Mapping App</dd>
        <dd><%= link_to "Source Code", "https://github.com/sophiathach/violationsapp" %></dd>
      </dl>
    </div>

    <div class="team-card">
      <div class="score">
        2nd
      </div>
      <dl>
        <dt>Girl Code</dt>
        <dd>Triad's Serving Hands project</dd>
        <dd><%= link_to "Source Code", "https://github.com/tholland05/triads-serving-hands" %>
      </dl>
    </div>

    <div class="team-card">
      <div class="score">
        3rd
      </div>
      <dl>
        <dt>DIW Greensboro</dt>
        <dd>Contractor/Permit Search App</dd>
        <dd><%= link_to "Source Code", "https://github.com/rajkowski/diw-greensboro" %>
      </dl>
    </div>

    <div class="team-card">
      <h2>Best Design</h2>
      <dl>
        <dt>JK2Designs</dt>
        <dd>This Is Greensboro</dd>
        <dd><%= link_to "Source Code", "http://www.mediafire.com/download/463wvuuv7j1qjxu/code_For_Greensboro.zip" %>
      </dl>
    </div>

    <div class="team-card">
      <h2>Impact Award</h2>
      <dl>
        <dt>Code Breakers</dt>
        <dd>GSO Flame</dd>
        <dd><%= link_to "Source Code", "https://github.com/cjevans1123/FireIncident" %>
      </dl>
    </div>

    <div class="team-card">
      <h2>Best Idea</h2>
      <dl>
        <dt>Green Bag Fail</dt>
        <dd>GSO Roulette</dd>
        <dd><%= link_to "Source Code", "https://marvelapp.com/8c25ia" %>
      </dl>
    </div>

    <h2 class="is-centered">&mdash;</h2>

    <h4 class="is-centered">At this year's Civicon, we were joined by over <strong>200 people</strong> and <strong>9 teams of talented developers</strong>, <strong>designers</strong> and <strong>technologists</strong> from our community. We drank <strong>480 cups of coffee</strong>, consumed <strong>over 100 tacos, over 40 pizzas, &amp; over 90 sandwiches</strong>,
    and wrote <strong>thousands of lines of code</strong> (at least).</h4>

    <h4 class="is-centered">But most importantly, we announced <strong>Greensboro's open data portal</strong> and its winning of the <strong>2015 Digital Cities Award</strong>—both steps that ensure more open goverment, better opportunities, and economic growth in our City.</h4>
  </div>
</section>

<section class="sponsors">
  <h3 class="is-centered">Thanks once again to our sponsors.</h3>

  <div class="wrapper">

    <div class="sponsor"><%=image_tag ('/images/socrata.png') %></div>
    <div class="sponsor"><%=image_tag ('/images/coder-foundry.png') %></div>
    <div class="sponsor"><%=image_tag ('/images/north-state.png') %></div>
    <div class="sponsor"><%=image_tag ('/images/redhat.png') %></div>
    <div class="sponsor"><%=image_tag ('/images/rally-soft.png') %></div>
    <div class="sponsor"><%=image_tag ('/images/waffle-io.png') %></div>
    <div class="sponsor"><%=image_tag ('/images/wake-forest.png') %></div>
    <div class="sponsor"><%=image_tag ('/images/hq-gso.png') %></div>

  </div>

</section>
<br/>

<h3 class="is-centered">Stay tuned for next year...</h3>

<br>
