---
title: Conference Sessions &amp; Speakers
layout: internal
---

<div class="wrapper">
  <div class="leftcolumn">

    <ul class="key">
      <li>Auditorium <span class="circle red"></span></li>
      <li>Classroom 1 <span class="circle orange"></span></li>
      <li>Classroom 2 <span class="circle purple"></span></li>
      <li>HQ Greensboro <span class="circle green"></span></li>
    </ul>


    <div class="grav">
      <%=image_tag ('/images/Ashley.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/ashleyrmoretz" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Ashley Moretz/Waffle.io</h5>
    <h4>Waffle.io Demo</h4>
    <p>Waffle.io lets teams manage projects using GitHub Issues and Pull Requests. Waffle listens to the actions in your workflow to know when work is started, ready for review, or finished and updates your status automatically. This demo will introduce teams to this powerful, free, and open solution for managing workflow.</p>

    <h6 class="is-rounded hq">Friday 5:00 PM - HQ Classroom</h6>
    <h6 class="is-rounded c1">Sunday 11:15 AM - Classroom 205</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Jason.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/jhibbets" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>

    <h5>Jason Hibbets/RedHat</h5>
    <h4>Open Source All the Cities</h4>
    <p>Open source is not only transforming our software, but it's transforming our government. Learn about some of the open source applications and civic hacking occurring in the Triangle of North Carolina from the author of "The foundation for an open source city." Leave with ideas that you can take back to your city to start creating a better citizen experience.</p>

    <p>Topics covered will include policy and different applications deployed by the City of Raleigh as well as initiatives from the citizens side including CityCamp North Carolina and Code for America Brigade initiatives in the Triangle. Finally, we'll discuss the five elements of an open source city.</p>

    <h6 class="is-rounded hq">Friday 6:30 PM - HQ Main</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Jane.png')%>
    </div>

    <h5>Jane Nickles/CIO, City of Greensboro</h5>
    <h4>News from the City of Greensboro</h4>
    <p>Code for Greensboro has found an enthusiastic partner in Jane Nickles. She has worked with us to help direct our efforts and open doors within the city. We are thrilled and fortunate to have her involvement and support. We're excited about hearing some news from the City - you should be too.</p>

    <h6 class="is-rounded hq">Friday 7:00 PM - HQ Main</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Shawn.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/Urban_Offsets" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>

    <h5>Shawn Gagné/Urban Offsets</h5>
    <h4>Efficient data collection for tree surveys</h4>
    <p>We are looking for ways to solve one of the largest problems affecting carbon offset projects: Inefficient data collection. Inefficient data collection increases the cost of generating carbon offsets by 50% and is the main hurdle to generating locally-sourced offsets in cities across America. Reducing this cost will significantly expand the viability of carbon offset projects and allow cities to generate new sources of revenue by planting and growing healthier trees.</p>
    <p>Our data collection tasks are repeatable and follow defined rules identified in the Climate Action Reserve's Improved Urban Forestry protocol. In this workshop, we will lay out our data collection pain points and evaluate solution paths for both the desktop and field data collection components.</p>

    <h6 class="is-rounded c1">Saturday 9:15 AM - Classroom 205</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Steve.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/civicagent" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>

    <h5>Steve Ellsworth/Senior Data Consultant, Socrata</h5>
    <h4>Open Government</h4>
    <p>Talk synopsis coming soon!</p>

    <h6 class="is-rounded c2">Saturday 9:15 AM - Classroom 206</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Sara.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/sarapk2014" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>

    <h5>Sara Pilling-Kellogg/HQ Greensboro</h5>
    <h4>The Coworking Movement</h4>
    <p>The Coworking Movement: Greensboro Edition focuses on the recent changes and growth in Greensboro's entrepreneurial ecosystem. Greensboro currently faces challenges in combating a stagnant economy, low-wage jobs and growing poverty rates – the growth of coworking and alternative workspaces aim to create new hope for the city. Small business is repeatedly referred to as “the driver of local economies.” Fostering an environment that supports and cultivates entrepreneurial ventures holds the potential to grow local jobs. The Coworking Movement also promotes core values of Openness, Sustainability, Accessibility, Community and Collaboration, all of which are growing demands (and necessities) in the current work-world. </p>

    <h6 class="is-rounded c1">Saturday 10:15 AM - Classroom 205</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Colin.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/ColinSpikes" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>

    <h5>Colin Spikes/Data Solutions Architect, Socrata</h5>
    <h4>Socrata 101</h4>
    <p>Socrata 101 is an introduction to the Socrata Open Data Platform, providing an overview of the solutions general capabilities targeted at civic hackers, entrepreneurs, and community members. This session will cover how to discover, visualization, download, and leverage robust open data data APIs to power your applications.</p>

    <h6 class="is-rounded c2">Saturday 10:15 AM - Classroom 206</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/bot.png')%>
    </div>

    <h5>Code for America Brigade Members</h5>
    <h4>Code for NC</h4>
    <p>There's no better way to learn about North Carolina's open data and civic hacking future than to hear from the people at its forefront.</p>

    <h6 class="is-rounded a">Saturday 11:15 AM - Auditorium</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Carol.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/CarolSankar" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Carol Sankar/The Confidence Factor for Women in Leadership</h5>
    <h4>The Confidence Factor</h4>
    <p>The Confidence Factor was developed to create more confident and bold women in underrepresented areas of leadership to increase the volume of women at the CEO level, startups, tech, engineering, construction, law, real estate,medicine and more. This discussion will focus on why confidence is the primary factor in every form of leadership on various levels. The best leaders are born when they are more confident about their value in the workplace.</p>

    <h6 class="is-rounded c1">Saturday 2:40 PM - Classroom 205</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Jack.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/jk2designs" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Jack Hoskins/CEO, JK2Designs</h5>
    <h4>Breaking Ice in a Saturated Market</h4>
    <p>Anyone can develop a simple web or smartphone app, but what makes some pop and others drop? Find out when Jack speaks at Civicon 2015.</p>

    <h6 class="is-rounded c2">Saturday 2:40 PM - Classroom 206</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Bobby.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/ctbobbydavis" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Bobby Davis Jr./Co-Founder &amp; CTO, Coder Foundry</h5>
    <h4>Winning the Technical Interview</h4>
    <p>Responsible for hiring dozens of new web and software professionals in the Triad, Bobby uses his vast experience as an executive and interviewer to show you how to take control of the interview process and win your dream developer job.</p>

    <h6 class="is-rounded c1">Saturday 3:40 PM - Classroom 205</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/ken.jpg')%>
    </div>
    <h5>Kenneth A. Williams, Ph.D./Associate Professor, NC A&amp;T State University</h5>
    <h4>Secure Mobile App Development</h4>
    <p>Most software vulnerabilities are rooted in insecure coding practices. If you write the code for your apps with security in mind, you can usually avoid most vulnerabilities. This talk represents the efforts of several faculty members to enumerate some of the most common insecure coding practices.</p>

    <h6 class="is-rounded c2">Saturday 3:40 PM - Classroom 206</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Charles.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/charlierein" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Charles Rein/CEO Recruiter, Charles Rein Associates</h5>
    <h4>Breaking Ice in a Saturated Market</h4>
    <p>LinkedIn has become the Premiere Career Networking site, and as an advocate of Career Branding I will be doing a very fast paced, Hands on demonstration primarily of LinkedIn and other sites that will benefit your Career Search or as a Company Manager how you can acquire talent.</p>

    <h6 class="is-rounded c1">Saturday 4:40 PM - Classroom 205</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Nick.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/nickmjones" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Nick Jones/Co-Founder, Tiny Goat</h5>
    <h4>Middleman for Everyone</h4>
    <p>Middleman is a great toolkit for generating static sites in a hurry. This workshop will get you up to speed on the rudiments of standing up your own Middleman site, styling it with Bourbon, Neat, and Bitters, and running it all from Heroku.</p>

    <h6 class="is-rounded c2">Saturday 4:40 PM - Classroom 206</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Walter.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/AvidDabbler" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Walter Jenkins/Transportation Planner, PART</h5>
    <h4>Open Data and Data Standards in Transportation</h4>
    <p>In 2005, TriMet and Google developed a General Transit Feed Specification (GTFS). This moment changed the way that transit data is communicated on a global scale. Since then improvements have been made to incorporate on-time arrivals and service announcements. If this were to be applied to other forms of transportation where do the possibilities end?</p>

    <h6 class="is-rounded c1">Sunday 9:15 AM - Classroom 205</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/JasonM.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/marshalljasons" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Jason Marshall/GIS Application Developer, City of Greensboro</h5>
    <h4>GIS and Our City</h4>
    <p>The City of Greensboro uses Geographical Information Systems (GIS) to create efficiencies in and enhance a myriad of city services. GIS in our City plays a role in everything from the water that we use to wash our hands to ensuring newly constructed buildings in our community are safe and habitable. This talk will illustrate how GIS is used to help run our city, and will highlight what to expect next in GIS from the City of Greensboro.</p>

    <h6 class="is-rounded a">Sunday 9:15 AM - Classroom 206</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Randall.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/AgnosiaMedia" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Randall Hayes/Founder, Agnosia Media, LLC</h5>
    <h4>Open Badges</h4>
    <p>Many open source developers will already be familiar with digital badges, image files attached to events or accomplishments. Mozilla's Open Badges take this idea a step further, embedding detailed metadata into the image file, contributing to a sort of standards-based online portfolio for the badge owner, which can be verified by the issuer of the badge (like a reference letter or a recommendation, but machine-readable). Imagine if your college transcript contained not just course titles but some details of the actual assignments you completed, and how well you did on them. I will walk the audience through the process of earning their first Open Badges, and then together we'll brainstorm potential applications of Open Badges here in the Triad.</p>

    <h6 class="is-rounded a">Sunday 10:15 AM - Classroom 205</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Anita.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/sommanita" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Anita Cafiero/Co-Founder, Tiny Goat</h5>
    <h4>Agile for Good</h4>
    <p>With Agile for Good, Tiny Goat empowers non-profits and civic groups with the same technology stack used by startups to streamline communication and eliminate email overload. This workshop will show how Slack, Basecamp, Zapier and other small services can click together to let your org or non-profit run leaner and faster.</p>

    <h6 class="is-rounded a">Sunday 10:15 AM - Classroom 206</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Rob.jpg')%>
      <div class="twitter-overlay">
        <% link_to "http://www.twitter.com/taintedzodiac" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </div>
    </div>
    <h5>Rob Zimmerman/Software Developer, Cyanna Education Services</h5>
    <h4>Technology Stacks for Startups</h4>
    <p>Thinking about founding a tech startup, but have no idea what technologies to use behind the scenes? Perhaps you're a developer looking for a position at a startup, but you're confused about what language will land you the best jobs. This session will review some of the hottest technology stacks (or platforms) at startups today. Whether you're a developer, or a founder looking to hire some, knowing what tech to focus on is key to getting the edge on your competition.</p>

    <h6 class="is-rounded a">Sunday 11:15 AM - Classroom 206</h6>
    <hr/>

    <div class="grav">
      <%=image_tag ('/images/Mark.jpg')%>
    </div>
    <h5>Mark E. Kirstner, AICP/Director of Planning, PART</h5>
    <h4>The Difficult Business of Public Engagement</h4>
    <p>Many things compete for our time these days. By the time you account work, eating, sleeping, commuting and recreating very little time is left to speak up and participate in democracy. Yet city government is always holding a public meeting or hearing, conducting a survey, or having a community drop in session. So what are the techniques to engage people and get meaningful feed back. If more digital interaction the answer or does old fashioned face-to-face work best. Come see techniques that cutting edge for local governments and help answer the question - What is the best way to engage YOU?</p>

    <h6 class="is-rounded a">Sunday 1:10 PM - Auditorium</h6>
    <hr/>
  </div>

  <aside class="sidebar">
    <h5>Join Us</h5>
    <p>Tickets are still available for Civicon 15, and we really want to see you there. In addition to these workshops and speakers, we'll have food, schwag, caffeine, and—of course—civic hacking.</p>
    <%=link_to "Buy Tickets", "http://www.eventbrite.com/e/code-for-greensboro-fall-hackathon-2015-tickets-18078770088" %>
  </aside>
</div>
